PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2026-01-29 01:42:01.771591');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2026-01-29 01:42:01.788745');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2026-01-29 01:42:01.817169');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','ACRILICO MARCA BOND (ACABADOS)',1,'new through import_export',14,1,'2026-01-29 01:44:20.874175');
INSERT INTO django_admin_log VALUES(2,'2','ADHESIVO ADVANCED INTERCERAMIC (ACABADOS)',1,'new through import_export',14,1,'2026-01-29 01:44:20.874206');
INSERT INTO django_admin_log VALUES(3,'3','BOLSA 100 ANCLAS 2MM PARA NIVELACION DE AZULEJOS (ACABADOS)',1,'new through import_export',14,1,'2026-01-29 01:44:20.874219');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$1000000$AigxS0zeSN3lGHnEtJBGpy$scS7w3GNVZtDzlf3c0jyroNiFbf4EOo/rjEXyBx/Nrw=','2026-02-04 01:24:41.972088',1,'mopisa','','mopisa@mopisa.com',1,1,'2026-01-29 01:43:06.533803','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$1000000$NIDFECslmECWQhNWHnZHUK$m69SYMY5oRvfpgF94FJRqT15OGC1UAsBqqDhAkF7SFc=','2026-02-04 01:21:40.357228',0,'marcos','','marcos.pacheco@ut-morelia.edu.mx',0,1,'2026-02-04 00:35:10.919370','');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$1000000$2ZbaMU3D5sOsMxVHzgXbKY$hY9GUDEQ/S+fBLAw9OwqoMfXg70DqCoBZrHLomxshKQ=','2026-02-04 01:23:37.973067',0,'edna','','tazmar1979@hotmail.com',0,1,'2026-02-04 01:23:26.527758','');
CREATE TABLE IF NOT EXISTS "core_categoria" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL UNIQUE, "descripcion" text NULL);
INSERT INTO core_categoria VALUES(1,'ACABADOS',NULL);
INSERT INTO core_categoria VALUES(2,'ALBA├æILERIA',NULL);
INSERT INTO core_categoria VALUES(3,'ALMACEN',NULL);
CREATE TABLE IF NOT EXISTS "core_marca" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL UNIQUE);
INSERT INTO core_marca VALUES(1,'Trupper');
CREATE TABLE IF NOT EXISTS "core_promocion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "titulo" varchar(150) NOT NULL, "descripcion" text NOT NULL, "descuento" decimal NOT NULL, "imagen" varchar(100) NULL, "vigente_hasta" date NOT NULL);
INSERT INTO core_promocion VALUES(1,'ENERO','50% OFF',50,'promociones/contruccion.jpg','2026-01-31');
CREATE TABLE IF NOT EXISTS "core_proveedor" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(150) NOT NULL UNIQUE, "contacto" varchar(150) NULL);
INSERT INTO core_proveedor VALUES(1,'Trupper',NULL);
CREATE TABLE IF NOT EXISTS "core_cliente" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(200) NOT NULL, "correo" varchar(254) NOT NULL UNIQUE, "telefono" varchar(20) NULL, "direccion" text NULL, "estado" varchar(100) NULL, "ciudad" varchar(100) NULL, "codigo_postal" varchar(10) NULL, "rfc" varchar(13) NOT NULL UNIQUE, "fecha_registro" datetime NULL, "usuario_id" integer NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_cliente VALUES(1,'Marcos Enrique Pacheco Cede├▒o','marcos.pacheco@ut-morelia.edu.mx','4433513475',unistr('Ignacio Zaragoza 670\u000d\u000aEntre Calles uranio y platino abarrotes any'),NULL,NULL,NULL,'PACM790327IF4','2026-02-04 00:35:11.418331',2);
INSERT INTO core_cliente VALUES(2,'Edna Dayami Ruiz Becerril','tazmar1979@hotmail.com','4433309811',unistr('Ignacio Zaragoza 670\u000d\u000aEntre Calles uranio y platino abarrotes any'),NULL,NULL,NULL,'RUBE830727LKO','2026-02-04 01:23:26.940945',3);
CREATE TABLE IF NOT EXISTS "core_cotizacion" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha" datetime NOT NULL, "total" decimal NOT NULL, "cliente_id" bigint NULL REFERENCES "core_cliente" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_cotizacion VALUES(1,'2026-02-04 00:36:09.163072',1821,1);
INSERT INTO core_cotizacion VALUES(2,'2026-02-04 01:24:04.385028',30,2);
CREATE TABLE IF NOT EXISTS "core_pedido" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha" datetime NOT NULL, "estado" varchar(20) NOT NULL, "total" decimal NOT NULL, "cliente_id" bigint NOT NULL REFERENCES "core_cliente" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_pedido VALUES(1,'2026-02-04 00:53:23.428130','pendiente',1821,1);
INSERT INTO core_pedido VALUES(2,'2026-02-04 00:55:00.017878','pendiente',1821,1);
INSERT INTO core_pedido VALUES(3,'2026-02-04 00:57:02.736202','pendiente',1821,1);
CREATE TABLE IF NOT EXISTS "core_producto" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "clave" varchar(50) NOT NULL UNIQUE, "descripcion" text NULL, "precio" decimal NULL, "existencia" integer NOT NULL, "color" varchar(50) NULL, "departamento" varchar(100) NULL, "imagen" varchar(100) NULL, "creado" datetime NOT NULL, "categoria_id" bigint NOT NULL REFERENCES "core_categoria" ("id") DEFERRABLE INITIALLY DEFERRED, "marca_id" bigint NULL REFERENCES "core_marca" ("id") DEFERRABLE INITIALLY DEFERRED, "proveedor_id" bigint NULL REFERENCES "core_proveedor" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_producto VALUES(1,'ACRILICO MARCA BOND','7898472263091',NULL,50,0,NULL,'DISENSA','','2026-01-29 01:44:20.782509',1,NULL,NULL);
INSERT INTO core_producto VALUES(2,'ADHESIVO ADVANCED INTERCERAMIC','ADHESIVO ADVANCED INTERCERAMIC',NULL,179,0,NULL,'DISENSA','','2026-01-29 01:44:20.784016',1,NULL,NULL);
INSERT INTO core_producto VALUES(3,'BOLSA 100 ANCLAS 2MM PARA NIVELACION DE AZULEJOS','ANCLAS 100PZAS 2MM',NULL,102,1,NULL,'DISENSA','','2026-01-29 01:44:20.784949',1,NULL,NULL);
CREATE TABLE IF NOT EXISTS "core_pedidoitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "cantidad" integer unsigned NOT NULL CHECK ("cantidad" >= 0), "precio_unitario" decimal NOT NULL, "pedido_id" bigint NOT NULL REFERENCES "core_pedido" ("id") DEFERRABLE INITIALLY DEFERRED, "producto_id" bigint NOT NULL REFERENCES "core_producto" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_pedidoitem VALUES(1,4,435,6,1845);
INSERT INTO core_pedidoitem VALUES(2,3,27,6,560);
INSERT INTO core_pedidoitem VALUES(3,10,3,7,175);
CREATE TABLE IF NOT EXISTS "core_cotizacionitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "cantidad" integer unsigned NOT NULL CHECK ("cantidad" >= 0), "subtotal" decimal NOT NULL, "cotizacion_id" bigint NOT NULL REFERENCES "core_cotizacion" ("id") DEFERRABLE INITIALLY DEFERRED, "producto_id" bigint NOT NULL REFERENCES "core_producto" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_cotizacionitem VALUES(1,4,1740,1,1845);
INSERT INTO core_cotizacionitem VALUES(2,3,81,1,560);
INSERT INTO core_cotizacionitem VALUES(3,10,30,2,175);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('vml2vyxu8x47rg2yxt96g3jyunggrphi','.eJxVjEEOwiAQAP-yZ0MAAbs9evcNZGEXqRqalPZk_Ltp0oNeZybzhkjbWuPWZYkTwwgGTr8sUX5K2wU_qN1nlee2LlNSe6IO29VtZnldj_ZvUKlXGAELBnZiz8WnIVMugciivhj0uqC3ZRBxGrVYFpspOScYWHtvMmlDDJ8v9ak4YA:1vnRdJ:KzS0emciRoc3bFf50jOb3IxjMDGLiMHO-nFym-OP6EE','2026-02-18 01:24:41.980278');
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',19);
INSERT INTO sqlite_sequence VALUES('django_admin_log',2565);
INSERT INTO sqlite_sequence VALUES('django_content_type',16);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "core_cotizacion_cliente_id_43df9f0a" ON "core_cotizacion" ("cliente_id");
CREATE INDEX "core_pedido_cliente_id_484750be" ON "core_pedido" ("cliente_id");
CREATE INDEX "core_producto_categoria_id_65b2d0af" ON "core_producto" ("categoria_id");
CREATE INDEX "core_producto_marca_id_b2651e7a" ON "core_producto" ("marca_id");
CREATE INDEX "core_producto_proveedor_id_f47c9d21" ON "core_producto" ("proveedor_id");
CREATE INDEX "core_pedidoitem_pedido_id_4dee3ca5" ON "core_pedidoitem" ("pedido_id");
CREATE INDEX "core_pedidoitem_producto_id_4a4acfea" ON "core_pedidoitem" ("producto_id");
CREATE INDEX "core_cotizacionitem_cotizacion_id_6622f0e6" ON "core_cotizacionitem" ("cotizacion_id");
CREATE INDEX "core_cotizacionitem_producto_id_9093f4f7" ON "core_cotizacionitem" ("producto_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
PRAGMA writable_schema=OFF;
COMMIT;
